.timerContainer {
  display: block;
  grid-auto-rows: 550px;
  padding: 1rem 1rem;
}

.timer {
  margin: 0.5rem auto;
  border: 2px solid var(--cream);
  width: 314px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  padding: 1.5rem;
  border-radius: 1rem;
  /* cursor:pointer; */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 50% 50%;
  /* background-color: var(--maroon) */
}

/* @media screen and (min-width: 768px){
  .timerContainer {
    padding: unset;
    max-width: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
} */

.workingContainer {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countContainer {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
}
