@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
  --default-color: #DC0000;
  --maroon: #850000;
  --yellow: #FFDB89;
  --cream: #FFF6C3;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}



body {
  display: flex;
  align-items: start;
  background-color: var(--default-color);
}

#root {
  width: 70%;
}

/* Large screen sizes => 768px */
/* @media screen and (min-width: 768px){
  body {
    height: 100vh;
    display: flex;
    justify-content: centre;
    align-items: center;
  }
} */
